<ion-header>
  <ion-toolbar>
    <ion-title>
      Books
    </ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-label>Recherche</ion-label>
    <ion-input type="text" placeholder="1983, Chroniques martiennes" [(ngModel)]="search"></ion-input>
  </ion-list>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content refreshingText="Chargement en cours..." refreshinSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let book of bookList">
      <img src="{{book.volumeInfo.imageLinks.thumbnail}}">
      <ion-label>Titre: {{book.volumeInfo.title}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll treshold="10%" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement en cours...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>